.progressBar {
    /* padding: 4px; */
    margin: 0 8px;
    height: 30px;
    background: linear-gradient(0deg, rgba(233, 239, 118, 0.07), rgba(220, 228, 74, 0.07)),
    rgba(244, 203, 55, 0.6);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
    text-align: center;
    font-size: 20px;
    color: #fff;

}
.value {
    position: absolute;
    display: flex;
    width: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    border-radius: 20px;
    background: linear-gradient(0deg, #dfe209, #837319), #d6890d;
   

}

.valueText {
    position: absolute;
    top: 0;
    left: calc(50% - 14px);
}
